
/*Menu*/

menu li a {
    font-size: 3rem;
}


/*header and menu*/

header {
	font-size: 5rem;
}

menu {
	font-size: 3rem;
}

/*Brand Storytelling*/
 
.main--brand-storytelling {
	display: flex;
	flex-direction: row;
}

.main--brand-storytelling div img {
	margin-left: 10rem;
	align-self: center;
}

.main--brand-storytelling > img {
	display: none;
}


.main--brand-storytelling div, footer div {
	padding: 0 50px 0 50px;
}

.main--brand-storytelling  p {
	font-size: x-large;
}

/*Carrusel*/

.main--carrusel div {
	font-size: xx-large;
}

.main--carrusel p {
	font-size: x-large;
}

.main--carrusel > p {
	margin-top: 10rem;
}
#main--carrusel-opinions article {
	width: 45%;	
}

#main--carrusel-opinions article div img{
	width: 12%;
	height: 12%;
}

h2 {
	font-size: x-large;
	margin-top: 5rem;
}

/*footer*/

footer p, footer .footer--by, footer .footer--github a, footer .footer--repository a {
	font-size: 3rem;
}

footer hr {
	margin: 1% 30%;
}