
/*Menu*/

menu li a {
    font-size: 3rem;
}


/*header and menu*/

header {
	font-size: 5rem;
}

menu {
	font-size: 3rem;
}

/*Brand Storytelling*/
 
.main--brand-storytelling {
	display: flex;
	flex-direction: row;
}


.main--brand-storytelling article img {
	margin-left: 10rem;
	align-self: center;
}

.main--brand-storytelling > img {
	display: none;
}


.main--brand-storytelling article, footer div {
	padding: 0 50px 0 50px;
}

.main--brand-storytelling  p {
	font-size: x-large;
}

/*Carrusel*/

.main--carrusel div {
	font-size: xx-large;
}

.main--carrusel p {
	font-size: x-large;
}

.main--carrusel > p {
	margin-top: 10rem;
}



#main--carrusel-opinions article {
	font-size: 4rem;
	padding: 10%;
}

#main--carrusel-opinions article div {
	font-size: 4.3rem;
}

#main--carrusel-opinions article div img {
	transform: scale(1.4);
}

/*footer*/

footer p, footer .footer--by, footer .footer--github a, footer .footer--repository a {
	font-size: 3rem;
}

footer .footer--contact > h2 {
	font-size: 3rem;
}