@import url('../config/config.css');
@import url('../config/menu.css');

body {
	background-color: var(--black);
}

header {
	background-image: url('../../images/main/phone/header.webp');
	height: auto;
	font-family: 'Domine', serif;
	font-size: x-large;
	text-align: center;
	color: var(--off-white);
}


header img {
	margin-top: 20rem;
	margin-bottom: 3rem;
	width: 200px;
	height: 200px;
}

header h1 {
	padding-bottom: 1%;
}


/*Brand Storytelling*/

.main--brand-storytelling p, .main--carrusel > p {
	color: var(--off-white);
	margin: 9rem 3rem 1rem 3rem;
	font-size: small;
	text-align: center;
}


.main--brand-storytelling hr, .main--carrusel hr {
	border-radius: 10px;
	border-color: var(--red-scotish);
	margin: 0rem 5rem;
}

.main--brand-storytelling img {
	margin-top: 3rem;	
	position: relative;
	width: 220px;
	height: 220px;
	right: 130px;
}


/*Carrusel*/

.main--carrusel hr {
	border-color: var(--red-scotish);
	border-width: 0.7rem;
	opacity: 40%;
	margin: 3rem 0rem;
}

#main--carrusel--opinions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#main--carrusel-opinions article {
	margin: 2.5rem 3rem;
	padding: 2%;
	padding-bottom: 3%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2rem;
	text-align: center;
	color: var(--off-white);
	border-radius: 4px;
	box-shadow: 1px 1px 3px var(--red-beard);
	background: linear-gradient(340deg, var(--yellow-pamp) 16.69%, var(--red-beard) 100%);
}

.main--carrusel p {
	margin-bottom: 1rem;
	margin-top: 3rem;
	font-size: 1.5rem;
	font-weight: 500;
}

#main--carrusel-opinions article div {
	display: flex;	
	justify-content: left;
	margin: 1.3rem 0rem;
}

#main--carrusel-opinions article div img {
	width: 20%;
	height: 20%;
	margin: 0rem 2.2rem;
}



/*footer*/

footer {
	color: var(--off-white);
	text-align: center;
}

footer hr {
	border-color: var(--red-scotish);
	margin: 1rem 3rem;
}

footer .footer--contact > p {
	margin-top: 6rem;
}

footer p {
    margin-bottom: 2rem;
	padding: 0 50px 0 50px;
	font-size: medium;
}


.footer--links a {
    font-weight: bold;
    color: var(--just-white);
    text-decoration: none;
}

.footer--by {
    font-size: large;
    color: var(--just-white);
    text-align: left;
    padding: 3%;
    margin-top: 5rem;
}


.footer--github {
    padding: 0 2%;
    display: flex;
    text-align: left;
}

.footer--github img {
	width: 15%;
	height: 15%;
}

.footer--github a {
    font-weight: bold;
    font-size: large;
    padding: 0.8%;
    color: var(--just-white);
    text-decoration: none;
	transform: scale(1);
	transition: transform 200ms linear;
}

.footer--repository {
    padding: 3%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: medium;
    color: var(--just-white);
}

.footer--repository a {
    margin-right: 3rem;
    font-weight: bold;
    color: var(--just-white);
    text-decoration: none;
	transform: scale(1);
	transition: transform 200ms linear;
}

.footer--repository a:hover, .footer--github a:hover {
	transform: scale(1.1);
	transition: transform 200ms linear;
}

.footer--repository a:active, .footer--github a:active { 
	color: var(--red-scotish);
}



/*Media queries*/

@media screen and (max-width: 1000px) {

	.main--brand-storytelling div img {
		display: none;
	}

}

@media screen and (min-width: 1200px) {
	header {
		background: linear-gradient(90deg, var(--yellow-pamp) 16.69%, var(--brown-IPA) 100%);
	}
}



