:root {
	/* Colores */
	--brown-IPA: #621002;
	--red-beard: #981301;
	--red-scotish: #9F001E;
	--yellow-honey: #FFD701;
	--yellow-pamp: #F89A09;
	--black: #1C1C1C;
	--off-white:#F5F5F5;
}

/*PARA PONER FUENTES*/

/* font-family: 'Abril Fatface', cursive; TITULO O COMBOS
font-family: 'Domine', serif;  modo birra
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; comodin
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

html {
	font-size: 62.5%;
	font-family: 'Arvo', serif;
	scroll-behavior: smooth;
}

body {
	background-color: var(--black);
}

header {
	background-image: url('../../images/main/phone/header.png');
	height: auto;
	font-family: 'Domine', serif;
	font-size: x-large;
	text-align: center;
	color: var(--off-white);
}


header img {
	margin-top: 20rem;
	margin-bottom: 3rem;
}

header h1 {
	padding-bottom: 1%;
}

/*Menu*/

menu{
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-size: 1.5rem;
	list-style: none;
}

menu li {
	padding: 3%;
}

menu li:hover {
	background: linear-gradient(325deg, var(--yellow-pamp) 16.69%, var(--red-scotish) 100%);
}

menu li a {
	text-decoration: none;
	color: var(--off-white);
}


/*brand storytelling*/


.main--brand-storytelling p, .main--carrusel > p {
	color: var(--off-white);
	margin: 9rem 3rem 1rem 3rem;
	font-size: small;
	text-align: center;
	
}


.main--brand-storytelling hr, .main--carrusel hr, footer div hr{
	border-radius: 10px;
	border-color: var(--red-scotish);
	margin: 0 5rem;
}

.main--brand-storytelling img {
	margin-top: 3rem;	
	position: relative;
	right: 130px;
}


/*Carrusel */


.main--carrusel hr {
	border-color: var(--red-scotish);
	border-width: 0.7rem;
	opacity: 40%;
	margin: 3rem 0;
}

#main--carrusel--opinions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#main--carrusel-opinions article{
	margin: 2.5rem 3rem;
	padding: 2%;
	padding-bottom: 3%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2rem;
	text-align: center;
	color: var(--off-white);
	border-radius: 4px;
	box-shadow: 1px 1px 3px var(--red-beard);
	background: linear-gradient(340deg, var(--yellow-pamp) 16.69%, var(--red-beard) 100%);
}

.main--carrusel p {
	margin-bottom: 1rem;
	margin-top: 3rem;
	font-size: 1.5rem;
	font-weight: 500;
}

#main--carrusel-opinions article div {
	display: flex;
	margin-bottom: 1.4rem;
	justify-content: left;
	margin: 1.3rem 0rem;
}

#main--carrusel-opinions article div img{
	margin: 0 2.2rem;
}



/*footer*/

footer {
	color: var(--off-white);
	text-align: center;
}

footer hr {
	border-color: var(--red-scotish);
	margin: 1rem 3rem;
}

footer .footer--contact > p {
	margin-top: 6rem;
}

footer p {
    margin-bottom: 2rem;
	padding: 0 50px 0 50px;
	font-size: medium;
}


.footer--links a {
    font-weight: bold;
    color: var(--just-white);
    text-decoration: none;
}

.footer--by {
    font-size: large;
    color: var(--just-white);
    text-align: left;
    padding: 3%;
    margin-top: 5rem;
}


.footer--github {
    padding: 0 2%;
    display: flex;
    text-align: left;
}

.footer--github a {
    font-weight: bold;
    font-size: large;
    padding: 0.8%;
    color: var(--just-white);
    text-decoration: none;
}

.footer--repository {
    padding: 3%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: medium;
    color: var(--just-white);
}

.footer--repository a {
    margin-right: 3rem;
    font-weight: bold;
    color: var(--just-white);
    text-decoration: none;
}






/*Media queries*/

@media screen and (max-width: 1000px) {

	.main--brand-storytelling div img {
		display: none;
	}

}





