
/*Menu*/

menu li a {
    font-size: x-large;
}

/*Brand Storytelling*/

.main--brand-storytelling article, footer div {
	padding: 0 90px 0 90px;
}

.main--brand-storytelling p, .main--carrusel > p {
	font-size: large;
}

/*Carrusel*/

.main--carrusel {
	flex-direction: column;
}

#main--carrusel-opinions {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

#main--carrusel-opinions article {
	padding: 1%;
	font-size: 2.5rem;	
}


/*footer*/

.footer--github img {
	width: 10%;
	height: 10%;
}

