
/*Menu*/

menu li a {
    font-size: x-large;
}

/*Brand Storytelling*/

.main--brand-storytelling div, footer div {
	padding: 0 90px 0 90px;
}

.main--brand-storytelling p, .main--carrusel > p {
	font-size: large;
}

/*Carrusel*/

.main--carrusel {
	flex-direction: column;
}

#main--carrusel-opinions {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#main--carrusel-opinions article {
	margin: 2.5rem;
	padding: 1%;
	font-size: 2.5rem;
	width: 43%;	
}

#main--carrusel-opinions article div img{
	width: 15%;
	height: 15%;
}

/*footer*/

.footer--github img {
	width: 10%;
	height: 10%;
}

