:root {
	/* Colores */
	--brown-IPA: #621002;
	--red-beard: #981301;
	--red-scotish: #9F001E;
	--yellow-honey: #FFD701;
	--yellow-pamp: #F89A09;
	--black: #1C1C1C;
	--off-white:#F5F5F5;
}

/*PARA PONER FUENTES*/

/* font-family: 'Abril Fatface', cursive; TITULO O COMBOS
font-family: 'Domine', serif;  modo birra
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; comodin
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

html {
	font-size: 62.5%;
	font-family: 'Domine', serif;
	scroll-behavior: smooth;
}

header {
    height: 10rem;
    background: linear-gradient(90deg, var(--yellow-pamp) 16.69%, var(--brown-IPA) 100%);
}


/*Menu*/

menu{
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-size: 1.5rem;
	list-style: none;
    background-color: var(--black);
}

menu li {
	padding: 3%;
}

menu li:hover {
	background: linear-gradient(325deg, var(--yellow-pamp) 16.69%, var(--red-scotish) 100%);
}

menu li a {
	text-decoration: none;
	color: var(--off-white);
}

/*contact section*/

body {
    background-color: var(--black);
    height: auto;
}   

body section article {
    background-color: var(--off-white);
    padding: 8%;
    margin: 3rem 2rem 4rem 2rem;
    border-radius: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
}

body article h2 {
    font-size: x-large;
}

body article hr {
    border-radius: 10px;
    border-style:double;
	border-color: var(--red-scotish);
	margin: 0 3rem 2rem 3rem;
}

body article p {
    margin: 2rem 1rem;
    font-size: large;
}


@media screen and (min-width: 600px){

    menu li a {
        font-size: x-large;
    }

    section {
        display: flex;
        justify-content: center;
        padding: 3%;
    }

    body article h2 {
        font-size: xx-large;
    }

    body article p {
        margin: 4rem 4rem;
        font-size: x-large;
    }
}
