/*menu*/

menu li a {
    font-size: x-large;
}

/*Contact section*/

section {
    display: flex;
    justify-content: center;
    padding: 3%;
}

body article h2 {
    font-size: xx-large;
}

body article p {
    margin: 4rem 4rem;
    font-size: x-large;
}