:root {
	/* Colores */
	--brown-IPA: #621002;
	--red-beard: #981301;
	--red-scotish: #9F001E;
	--yellow-honey: #FFD701;
	--yellow-pamp: #F89A09;
	--black: #1C1C1C;
	--off-white:#F5F5F5;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

html {
	font-size: 62.5%;
	font-family: 'Domine', serif;
	scroll-behavior: smooth;
}

header {
    background:	var(--black);
	height: 56rem;
}



section {
    background: linear-gradient(180deg, var(--yellow-pamp) 16.69%, var(--brown-IPA) 100%);
    height: auto;
    font-size: medium;
    text-align: center;
	padding-bottom: 10%;
}



/*Menu*/

menu{
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-size: 1.5rem;
	list-style: none;
    background-color: var(--black);
}

menu li {
	padding: 3%;
}

menu li:hover {
	background: linear-gradient(325deg, var(--yellow-pamp) 16.69%, var(--red-scotish) 100%);
}

menu li a {
	text-decoration: none;
	color: var(--off-white);
}


/*Section*/

section > p {
	font-family: 'Domine', serif;
	font-size: medium;
	font-weight: bold;
	padding: 10%;
}

#products--items article {
	font-family: 'Abril Fatface', cursive;
	color: var(--off-white);
	background-color: var(--black);
	margin: 2rem;
	padding: 5%;
	height: auto;
	border-radius: 20px;
	
}

#products--items article > p {
	font-size: 4rem;
}

#products--items article > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	padding: 3%;
}

#products--items article > div img {
	margin-right: 2rem;
}

#products--items article div p {
	margin: 1rem 0rem;
}

#products--items article div a {
	text-decoration: none;
	color: var(--black);
	font-size: 1.4rem;
	font-weight: bold;
	background: linear-gradient(325deg, var(--yellow-pamp) 16.69%, var(--red-scotish) 100%);
	border-radius: 5px;
	padding: 5%;
}


