
header {
	height: auto;
}

/*Menu*/

menu li a {
    font-size: x-large;
}

/*Section*/

section > p {
    font-size: x-large;
}

#products--items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}


#products--items article {
    width: 70%;
}