
header {
	height: auto;
}

/*Menu*/

menu li a {
    font-size: x-large;
}

/*Section*/

section > p {
    font-size: x-large;
}

#products--items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#products--items article {
    width: 38%;
}